/*TESTE COMMIT*/
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(15, 14, 13, 1);
  width: 100vw;
  height: 100vh;
}

.input_container {
  display: flex;
  width: 590px;
  height: 800px;
  color: rgba(255, 225, 0, 1);
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(255, 225, 0, 1);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 1);
}

.input_container h1 {
  position: relative;
  text-align: center;
  font-size: 30px;
  top: -35px;
}

.input_container .iconSite {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
}
