form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

form button {
  margin-top: 65px;
  background-color: rgba(255, 225, 0, 1);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 170px;
  height: 35px;
}

form button:hover {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 225, 0, 1);
  border: 1px solid rgba(255, 225, 0, 1);
}

form input {
  background-color: rgba(255, 225, 0, 1);
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 270px;
  height: 35px;
  outline: none;
  font-size: 18px;
}

form input:hover {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 225, 0, 1);
  border: 1px solid rgba(255, 225, 0, 1);
}

form p {
  position: relative;
  top: 60px;
}

.iconsImg {
  position: relative;
  right: 160px;
  top: 35px;
  width: 35px;
  height: 35px;
}
